.Contact-Main-Container {
    max-width: 1200px;
    margin: auto;
    color: white;

}

.Contact-Container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 0 20px;
    gap: 15px;
    width: 100%;
}

.Contact-Container-Info {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.Contact-Container-Info h1 {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 0.9;

}

.Contact-Social-Links {
    display: flex;
    gap: 20px;
}

.Contact-Social-Links a {
    color: rgb(194, 155, 57);
    font-size: 22px;
}

.Contact-Mail {
    opacity: 0.7;
}

.Contact-Resume {
    opacity: 0.7;
}

.Mail {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgb(194, 155, 57);
    padding-bottom: 3px;


}

.resume {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgb(194, 155, 57);
    padding-bottom: 3px;
}

.Form-Main-Container {
    width: 40%;

}

.Form-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    padding: 10px 5px;
    box-sizing: border-box;

}

.Input-Container {
    width: 100%;
    height: 40px;
    background-color: rgb(35, 27, 27);
    border: none;

}

.Text-Area-Container {
    width: 100%;
    background-color: rgb(35, 27, 27);
    border: none;

}

.Form-Input {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.Form-Button {
    padding: 8px 22px;
    border-radius: 12px;
    background-color: rgb(213, 213, 72);
}

.Form-Submit {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:768px) {
    .Contact-Container {
        flex-direction: column;
        align-items: center;
}

.Contact-Container-Info {
    width: 90%;
    align-items: center;
}

.Form-Main-Container {
    width: 90%;

}
   
}


@media (max-width:480px) {

   .Contact-Container-Info {
    width: 100%;
  
}

.Form-Main-Container {
    width: 100%;

}
   }